/* https://leaflet.github.io/Leaflet.markercluster/example/screen.css */
#map {
	/* width: 800px;  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

/* https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}





/* https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css */
.marker-cluster-small div {
	background-color: #5188d6;
    color: white;
	}

.marker-cluster-medium div {
	background-color: #5188d6;
    color: white;
	}

.marker-cluster-large div {
	background-color: #5188d6;
    color: white;
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small div {
	background-color: #5188d6;
    color: white;
	}

.leaflet-oldie .marker-cluster-medium div {
	background-color: #5188d6;
    color: white;
	}

.leaflet-oldie .marker-cluster-large div {
	background-color: #5188d6;
    color: white;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}